<title>Collections | MXMNY</title>

<body style="background-image:none;">


<!-- 
<h1 style="text-align:center;	font-family: 'Raleway', sans-serif;
"> Please check back later. </h1> -->
  
<table class="products" id="collection">
	<tr>
		<td class="col">
			<ul>
			<% @listings_collection.each do |listing| %>

				<% if listing.pictures.first %>
            	<li>

            	<%= link_to image_tag(listing.pictures.first.image.url), collection_path(listing) %>
            	<% else %>
              		N/A
            	<% end %>
				

				<form method="get">

				<a href="<%=collection_path(listing)%>"><%=listing.name %></a><br> 

				<div class="line-separator"></div>
				
				 
				</form>	

				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>




</body>