	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="/assets/application.js"></script>

<body style="background-image:none;">





<table id="collections-show-pictures">

	<tr>
		<td class="col">
   <ul>
    <% @pictures.each do |pic| %>
      <li><%= image_tag pic.image.url %></li>


     
  <% end %> 
    </ul>  
    </td>
   </tr>
  </table>


</body>


