	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="/assets/application.js"></script>

<body style="background-image:none;">

<title>Lookbooks | MXMNY</title>


 <div id="collection-show-div">
  <ul>
    <% @pictures.each do |pic| %>
      <li><%= image_tag pic.image.url %></li>
    <% end %>
  </ul>

 </div>

</body>


