body {


}

ul {
	padding: 0px;
}

header p {
	text-align: center;
	font-family: 'AdelleSans-Thin';
	color: black;
}
	
header p:nth-child(2) {
	font-size: 40px;
	text-decoration: overline;
	margin-top: 120px;
	letter-spacing: 25px;
}

header p:nth-child(3) {
	font-size: 15px;
	letter-spacing: 18px;
	margin-bottom: 36px;
}

header p:nth-child(4) {
	font-size: 10px;
	margin-left: 150px;
	margin-right:150px;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 30px;
}

header a {
	text-align: left;
	color: black;
	text-decoration: bold;
	font-family: 'AdelleSans-Thin';
	margin: 10px;
}

#nav {
	margin-top: 70px;
	padding: 0px;
	text-align: center;

}

#nav a {
	/*text-decoration: none;*/
	color: black;
}

#nav a:hover {
	letter-spacing: 5px;
	transition:.2s;
	cursor: pointer;

}

#nav li  {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'AdelleSans-Thin';
	text-decoration: underline;
}

#nav li:hover {
	cursor: pointer;
}


#front-page-picture-list {
	text-align: center;
	margin-top:40px;
	padding: 0px;
}

#front-page-picture-list li {
	display: inline-block;
}

#front-page-picture-list img {
	text-align: center;
	 width: 400px;
	 margin: 0 auto;
	 display:block;
}

#top-pic {
	width: 70%;
	margin: 0 auto;
	display: block;
	margin-top: 40px;

}

#footer {
	height: 300px;
	width:100%;
	background-color: black;
	margin: 0px;

}

#footer p {
	text-align: left;
	color: white;
	padding-left: 40px;
	font-family: 'AdelleSans-Thin';
	margin: 0px;
}


#footer li:nth-child(1) {
	font-size: 25px;
	margin-bottom: 20px;
	padding-top: 20px;
}

#footer li:not(:first-child) {
	font-size: 12px;

}


#cart-table {
	width: 100%;
	height: 130px;
	/*color: blue;*/
	background: transparent;
    border: solid 1px #ebebeb;
 	font-family: 'AdelleSans-Thin';
 	margin-top: 100px;
 	margin-bottom: 100px;
   
}

td {
	text-align: center;
	 	font-family: 'AdelleSans-Thin';

}

th {
 	/*font-family: 'AdelleSans-Thin';*/
 	font-weight: 600;

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


 

