html, body {
    height: 100%;
    margin:0px;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #FCFCFC;
}

h1 {
	font-family: 'Cinzel';
	font-weight: 100;
}

h3 {
	font-family: "Cinzel";
	font-weight: 100;
}


span {
	padding:0px 10px 0px 10px;
}

hr {

    border-top: 1px solid #FCFCFC;
    margin: 1em 0;
    padding: 0; 


}

.list-pic {	
	width: 95%;
}

#my-slider {
	display: none;


}

.unslider {
	display: none;

}



.mobile-line-separator {
	background: #E8E8E8;
    border-bottom: .5px solid #E8E8E8;
    width: 96%;
    text-align: center;
    display: none;
    margin-bottom: 30px
}


.mobile-figure-p {
	text-align: left;
	display: none;
}

/*MAKING PRODUCT NAME ON MOBILE BOLD*/

.products > tbody > tr > td > ul > li > figure > p:nth-child(3) {
	font-weight: 700;
}

#error-div {
	margin-top: 250px;
	text-align: center;
}

#error-div p {
	margin: 0px;
	font-family: "Cinzel";
	font-size: 14px;

}

.total-headings {
	font-weight: 400;
}

#shipping-info-div {
    background-color: white;
    height: 608px;
    width: 42%;
    margin-top:0px;
    float: left;
}

#total-list {
	list-style: none;
	padding-top: 20px;


}

#total-list li {
	font-size: 10px;
	font-weight: 700;
	color: black;
	font-family: 'Cinzel';
	text-align: center;
}



#shipping-info-list {
	font-family: 'Cinzel';
	font-size: 12px;
	margin-top: 50px;
	list-style: none;
	margin-bottom: 50px;
	padding-top: 30px;
}


#checkout-listing-table {
    float: right;
    width: 55%;
    background-color: white;
    margin-right: 40px;
    border-left: 1px solid #E1E1E1;
    margin-top:10px;
    overflow: scroll;
    height: 600px;
}

#checkout-listing-table > tbody > tr > td > a > img {
	width: 100%;
	padding-left: 140px;
}

.checkout-listing-ul {
	margin-top: 100px;
}

.checkout-listing-ul > li {

    width: 18%;
    padding: 10px;

    margin: 10px;

}

.checkout-listing-ul > li > p {
	font-size: 10px;
	font-family: "Cinzel";
}


.checkout-listing-ul > li > a > img {
	width: 100%;
}

#checkout-listing-table > tbody > tr > td:nth-child(1) {
	width: 17%;
	padding: 10px;
}

#checkout-listing-table > tbody > tr > td > p {
	width: 100%;
	padding:0px;

}


.checkout-listing-div > ul > li > p {
	font-family: 'Cinzel';
	font-size: 10px;
}

#checkout-listing-table > tbody > tr > td > p {
	font-size: 10px;
}



.product-heading-h1 {
	font-size: 11px;
}
/*
#test-nav {
	background-color: #F5F5F7;
	width: 30%;
	height: 100%;
	position:fixed;
	margin-top: 0px;
	list-style: none;
	/*overflow: scroll;*/
/*}*/

/*Mailchimp*/

#mc_embed_signup label {
	padding-bottom: 0px!important;
}
#mc_embed_signup{

	background:#fff; 
	clear:left;
	font:11px Helvetica!important;
	width:100%;
	padding-bottom: 50px;
}

#mc_embed_signup .button {
	background-color: #F5F5F7!important;
	color: black!important;
}

#mc_embed_signup .button:hover {
	background-color: black!important;
	color: white!important;
}


#contact-us {
	padding:0px;
}

#contact-us:hover {
	cursor: pointer;
}

.collection-figcaption:hover {
	opacity: .8;
	transition:1s;
	cursor: pointer;
}
.collection-figure {
    margin: 0px;
    height: 620px;
    overflow: hidden;
    position: relative;
    overflow: scroll;
}



.collection-figcaption {
    background: #f5f5f7;
    color: white;
    display: table;
    height: 97%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.collection-figcaption p {
	color: black;
	display: table-cell;
	font-size: 10px;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
	padding:0px 10px 0px 10px;
	font-weight: bold;
}

.headwear-figcaption:hover {
	opacity: .8;
	transition:1s;
	cursor: pointer;
}
.headwear-figure {
    margin: 0px;
    height: 270px;
    overflow: hidden;
    position: relative;
    overflow: scroll;
}


.headwear-figcaption {
    background: #f5f5f7;
    color: white;
    display: table;
    height: 97%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.headwear-figcaption p {
	color: black;
	display: table-cell;
	font-size: 10px;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
	padding:0px 10px 0px 10px;
	font-weight: bold;
}
#headwear-slide-div {
	margin: 0 auto;
	overflow: auto;
	width: 92%;
	height: 300px;
	white-space:nowrap;
}
#headwear-slide-div img {
	height: 270px;
	display: inline-block;
}


#headwear-slide-div li {
	display: inline-block;
}

#headwear-slide-div > ul {
	/*background-color: #f5f5f7;*/
}

#collection-index-div {
	overflow: auto;
	width: 100%;
	height: 600px;
	white-space:nowrap;
}
#collection-index-div img {
	height: 600px;
	display: inline-block;
}


#collection-index-div li {
	display: inline-block;
}


#collection-show-div {
	overflow: auto;
	width: 100%;
	height: 600px;
	white-space:nowrap;
}
#collection-show-div img {
	height: 600px;
	display: inline-block;
}


#collection-show-div li {
	display: inline-block;
}



.edit-form {
	font-family: 'Helvetica';
}

#delete-picture-submit {
	background-color: red;
	color: white;

}

#index-form {
	display: none;
}

.original_price {
	color: black;
	text-decoration: line-through;
	padding:0px;
}

#free-shipping-div {
	width: 100%;
	background-color:black;
	height: 40px;
	display: none;
	position: absolute;
}

#free-shipping-div p {
	color: white;
	margin: 0px;
	padding-top:10px;
	font-family: 'Helvetica';
	font-size:12px;
}

#free-shipping-div a {
	color: white;
	margin: 0px;
	padding-top:10px;
	font-family: 'Helvetica';
	font-size:12px;
	text-decoration: underline;
}

#free-shipping-x:hover {
	cursor: pointer;
}


#checkout-table {
	padding-top:100px;
	color: gray;
	font-family: 'Cinzel', serif;
}

#shipping-form {
	padding-top:50px;
}

.checkout-nav {
	font-size: 10px;
	color:gray;
	font-family: 'Helvetica';
	text-align: left;
	padding-left: 100px;

}

.checkout-nav li {
	display: inline-block;
	padding:0px 5px 0px 5px;
	font-family: 'Cinzel', serif;
}

.checkout-nav li a {
	color: black;
}

.checkout-nav li a:hover{
	text-decoration: underline;
}


.listings-figure {
    margin: 0px;
    height: 230px;
    overflow: hidden;
    position: relative;
    width: 191px;
    /*overflow: scroll;*/
}



.listings-figcaption {
    background: #f5f5f7;
    color: white;
    display: table;
    height: 97%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 95%;
}

.listings-figcaption p {
	color: black;
	display: table-cell;
	font-size: 10px;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
	padding:0px 10px 0px 10px;
	font-weight: bold;
}

.below-slideshow-ul-figure {
	margin: 0px;
	height: 460px;
	width: 691px;
	overflow: hidden;
	position: relative;
}

.below-slideshow-ul-figcaption {
	width: 691px;
	background: rgba(234,234,234,1);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.below-slideshow-ul-figcaption p {
	color: black;
	display: table-cell;
	font-size: 10px;
	position: relative;
	top: 0px;
	width: 289px;
	vertical-align: middle;
	padding:0px 10px 0px 10px;

}

.below-slideshow-ul-figure figcaption:hover {
	opacity: .8;
	transition:1s;
	cursor: pointer;
}

.products figcaption:hover {
	opacity: 1;
	transition:1s;
	cursor: pointer;
}




/*#below-slideshow-ul > li:nth-child(1) {
	width: 25%; 
	padding-left: 50px;
}*/


#cart-list {
	margin-bottom: 100px;
	margin-top: 100px;

}

#cart-list li {
	display: inline-block;
	margin-bottom: 30px;
	width: 20%;

}

#cart-list a {
	color: black;
	font-size: 10px;
}

#cart-list > li > a > img {
	width: 100%;
}




#edit-details-button {
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 40%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

.continue-button {
	background-color: black;
	color: white;
    font-family: 'Cinzel', serif;
	font-weight: 500;
	border-radius: 0px;
    width: 40%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}
.continue-button a {
	color: white;
    font-family: 'Cinzel', serif;
	font-weight: 500;
	text-decoration: none;
}


.continue-button:hover {
	cursor: pointer;
}

#slides {
	height: 700px;
	width: 98.5%;
	margin: 0 auto;
    box-shadow: 1px 1px 1px gray;
    /*margin-left: 600px;*/

}

#slides > img {
	width: 100% 
}

#collection-slides {
	height: 800px;
	width: 65%;
	margin: 0 auto;
}

#collection-slides > img {
	width: 65% 
}

.shipping-select {
	width: 52%;
	    font-family: 'Cinzel', serif;
    padding:20px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:4px;
    	box-shadow: 0 0 0 1px #d9d9d9;

    border-radius:4px;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

}

.shipping-input {
	width: 50%;
	height: 8%;
	font-size: 13px;
	text-align: left;
font-family: 'Cinzel', serif;
	font-weight: 500;
	background: #f8f8f8;
	border:none;
	box-shadow: 0 0 0 1px #d9d9d9;
	padding: 15px;

}

.shipping-input:hover {
	border:2px solid black;
	transition:.1s;
}

.logo-text-h1 {
	padding-top: 40px;	
	    font-family: 'Cinzel', serif;
	font-weight: 100;
	font-size: 35px;
	letter-spacing: 4px;
	margin-bottom: 5px;
	/*letter-spacing: 7px;*/
}

.logo-text-h3 {
	    font-family: 'Cinzel', serif;
	font-weight: 100;
	margin-bottom: 50px;
	margin-top: 0px;
	padding-right: 25px;
	letter-spacing: 4px;
}



#nav-image {
	height: 30px;
}



#nav-image:hover {
	cursor: pointer;
}

.order-complete-text {
	font-family: "Helvetica";
	font-size: 11px;
	color: black;
}

.picture-edit {
	width: 80%;
}

#picture-delete {
	display: block;
	margin: 0 auto;
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 20%;
    line-height: 25px;
    height: 25px;
    font-size: 10px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#checkout-btn {
	display: block;
	margin: 0 auto;
	background-color: black;
	color: white;
    font-family: 'Cinzel', serif;
	font-weight: 500;
	border-radius: 0px;
    width: 50%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#checkout-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none;
}


#customer-care li > p {
	font-size: 12px;
    font-family: 'Cinzel', serif;
	font-weight: 500;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}


.h1-headers {
	text-align: center;
	font-family: 'Cinzel', serif;
	font-weight: 400;
	color:black;
	font-size: 24px;

}

#shipping-table input {
	font-size: 20px;
	font-family: 'Helvetica';
	font-weight: 500;
}


#size {
	padding-left: 20px;
	border: black;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 10px;
    width: 80%;
    height: 61px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

option {
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#shop-sub-nav li a {
	font-size: 14px;
}

.hidden-nav {
	padding-left: 10px;

}

#listings-index-nav li {
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 10px;
	padding-left: 30px;
	transition:.1s;
}


#listings-index-nav li a {
	color: black;
	text-decoration: none;
}

#listings-index-div {
    height: 85%;
    position: fixed;
    width: 11%;
}



#listings-index-nav li:hover {
	cursor: pointer;
	color: red;
}

#listings-index-nav li > a:hover {
	cursor: pointer;
	color: red;

}
#listings-index-nav {
	text-align: left;
}

#add-to-cart-btn {
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 8px;
	border-radius: 0px;
    width: 80%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

#add-to-cart-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
   	appearance: none; 
}

#listings-details > form > p:nth-child(3) {
	font-size: 20px;
	margin-bottom: 0px;

}

#listings-details > form > p:nth-child(5) {
	margin-top: 0px;
}

#listings-details > form > p:nth-child(6) {
	margin-bottom: 0px;
}

#collection > tbody > tr > td > ul > li > a > img {
    width: 40%;
}

#collection > tbody > tr > td > ul {
	padding:0px;
	list-style: none;
	text-align:center;
}

#collection > tbody > tr > td > ul > li {
	width: 100%;
}

#collections-show-pictures > tbody > tr > td > ul {
	list-style: none;
	padding: 0px;

}

#collections-show-pictures > tbody > tr > td > ul > li > img {
	display: inline-block;
	width: 100%;	
}

/*#listings-show-page-list li:nth-child(1) {
	float:left;
	width: 40%;

}

#listings-show-page-list li:nth-child(2) {
	float: 
	width: 40%;

}
*/

#listings-show-page-list {
	width: 100%;
	/*margin: 0 auto;*/
}



#listings-show-div {
	overflow: scroll;
	height: 717px;
	width: 700px;
	float: left;
	padding-left: 20px;


}

#listings-show-pictures {
	margin: 0 auto;
	display: block;
	text-align: center;
}




#listings-show-pictures li > a > img {
	width: 85%;
}

#listings-show-pictures li > a > img:hover {
	cursor: pointer;

}

#listings-show-pictures > li { /* PICTURES BELOW FIRST IMAGE */
	display: inline-block;
	width: 100%;
}

#listings-show-pictures > li:nth-child(4) > a > img {
	width: 95%;
}

#listings-show-pictures > li:nth-child(2) > a > img { /* FIRST PICTURE IMG ELEMENT */
	width: 100%;
}

#listings-show-pictures li:nth-child(2) {  /* FIRST PICTURE IN LISTINGS SHOW li element */
	display: block;
	width: 85%;
	text-align: center;
	margin: 0 auto;
}


.listings-back-link {
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 10px;
	color: gray;

}
.listings-back-link:hover {
	text-decoration: underline;

}

#listings-details {
    margin-right: 60px;
    width: 40%;
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 10px;
    padding-top: 110px;
    float: right;
}

.line-separator {
    background: #E8E8E8;
    border-bottom: .5px solid #E8E8E8;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
}



ul {
	padding: 0px;
}


table {
  margin:0 auto;
	width: 100%;
}

.col ul {
  text-align: left;
  padding-left: 100px;

}



.products > tbody > tr > td > ul {
	list-style: none;
	margin-bottom: 0px;

}



.products li {
	display: inline-block;

}


.products li a {
    font-size: 12px;
    text-decoration: none;
    color: gray;
    text-align: left;
    padding-top: 10px;
}

.products li a:hover {
	text-decoration: underline;

}

.products li img {
	
	width: 100%;
	/*margin-bottom: 15px;*/

}

.products li img:hover {
	opacity: .9;
}


.icons {
	height: 18px;;
	width: 18px;
	padding-right: 5px;
}

.icons-complete {
	height: 18px;;
	width: 18px;

}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */
    text-align: center;

}

.wrapper p {
	font-family: 'Cinzel';
}


body > div.wrapper > div.wrapper > p > a {
	color: black;
	text-decoration: none;

}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer li > a {
	text-decoration: none;

}

.footer li > a:hover {
	color: red;
}





/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/



ul {
	padding: 0px;
}

header p {
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 500;
	color: white;
}
	
header p:nth-child(1) {
	font-size: 40px;
	/*text-decoration: overline;*/
	margin-top: 10px;
	letter-spacing: 25px;
	margin-bottom: 4px;
	text-shadow:10px 30px 10px black;


}

header p:nth-child(2) {
	font-size: 30px;

	letter-spacing: 18px;
	margin-top: 10px;
		text-shadow:10px 30px 10px black;

}

header p:nth-child(3) {
	font-size: 10px;
	margin-left: 150px;
	margin-right:150px;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 30px;
	/*margin-bottom: 150px;*/
}

header a {
	text-align: left;
	color: black;
	text-decoration: bold;
	font-family: 'Helvetica';
	font-weight: 500;
	margin: 10px;
}

#nav {
	/*margin-top: 70px;*/
	padding: 0px;
	text-align: center;
	/*background-color: rgba(0, 0, 0, .8);*/

}

#nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;


}

#nav a:hover {
	color:white;
	/*font-size: 19px;*/
	

	/*transition:.2s;*/
	cursor: pointer;

}

#nav li  {
	/*display: inline-block;*/
	/*background-color: rgba(0, 0, 0, .8);*/
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Helvetica';
	font-weight: 500;
	text-shadow: 10px 10px 10px black;

	list-style: none;
	/*margin-top: 250px;*/
}

#nav li:hover {
	text-shadow: 18px 22px 1.3px white;
	cursor: pointer;
}

#top-nav {
	list-style: none;
	background-color:rgba(255, 255, 255, .9);
	text-align:center;
	padding-bottom:0px;
	margin-bottom: 15px;
	font-size: 15px;
	    font-family: 'Cinzel', serif;
	font-weight: 500;
	margin-top:10px;
	/*border-bottom: 2px solid black;*/


}

#top-nav a {
	color: black;
	padding: 0px;
	text-decoration: none;
	    font-family: 'Cinzel', serif;
	font-weight: 500;
}

#top-nav li {
	padding-bottom: 12px;
	padding-right: 38px
}

#bottom-nav {
	margin-top:100px;
	padding-bottom: 30px;
	display: inline-block;
}

#bottom-nav a {
	color: black;
	padding: 0px;
	font-size: 12px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: 500;

}

#bottom-nav a:hover {
	color: gray;
}

#bottom-nav li {
	display: inline-block;
	padding-left:40px; 
	padding-right: 40px;

}



#top-nav a:hover {
	color: red;
	cursor: pointer;
}


#front-page-picture-list {
	text-align: center;
	margin-top:40px;
	padding: 0px;
}

#front-page-picture-list li {
	display: inline-block;
}

#front-page-picture-list img {
	text-align: center;
	 width: 400px;
	 margin: 0 auto;
	 display:block;
}


.footer {
	/*height: 100px;*/
	width:100%;
	background-color: rgba(255, 255, 255, .75);
	margin: 0px;
	/*position: fixed;*/

}

.footer p {
	text-align: left;
	color: black;
	/*padding-left: 40px;*/
	font-family: 'Helvetica';
	font-weight: 500;
	margin: 0px;
}

.footer p:hover {
	color: red;
}

.footer li {
	display: inline-block;
	font-size: 12px;
	padding-top: 20px;
	padding-left: 10px;
	margin: 0px;
}

.footer li:hover {
	/*background-color: black;*/
}

.footer ul {
	margin:0px;
}

/*.footer li:not(:first-child) {
	font-size: 12px;

}
*/

#cart-table {
	width: 85%;
    height: 240px;
    /* color: blue; */
    background: transparent;
    border: solid 1px #ebebeb;
    font-family: 'Helvetica';
	font-weight: 500;
    margin-top: 60px;
    margin-bottom: 50px;
    color: gray;
   
}

#cart-table > tbody > tr:nth-child(2) > td:nth-child(5) > a {  /* X */
	color: gray;

}

/*td {
	text-align: center;
	font-family: 'Cinzel', serif;
	font-size: 10px;
	/*padding:40px;*/

/*} */

th {
    font-family: 'Cinzel', serif;
 	font-size: 12px;

}



 

#below-slideshow-ul {
	margin-bottom: 50px
	width:100%;

}

#below-slideshow-ul li {
	display: inline-block;
	margin: 0px 5px 0px 5px;
    /*box-shadow: 1px 1px 1px gray;*/

}



#below-slideshow-ul img {

	height: 461px;
	display: inline-block;
}

#below-slideshow-ul h1 {
	color: black;
	font-family: "Helvetica-Bold";
	font-weight: 500;
	font-size: 10px;

}

#below-slideshow-ul p {
	color: black;
	font-family: "Helvetica";
	font-weight: 100;
	font-size: 10px;

}







.product {
	margin: 20px auto;
	text-align: center;
	padding: 20px;
}


/*Magnifier */


.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0
}

.magnifier-lens {
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 200;
    right: 600;
    overflow: hidden;
    display:none;
}

.magnifier-loader {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    background: transparent;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

button.stripe-button-el {
	background: none;
	box-shadow: none;
}



.stripe-button-el span {
	visibility: hidden;
	width: 210px;
	height: 60px;
}


.stripe-button-el span:after {
	color: white;
	background-color: black;
	background-image: none;
	border-radius: 0px;
	padding:10px 60px 10px 60px;
	content: 'Pay With Card';
	visibility: visible;
	position: absolute;
	right: 16px;

}

/*PAYPAL BUTTON*/

body > div.wrapper > table:nth-child(12) > tbody > tr:nth-child(2) > td > form > input[type="image"]:nth-child(14) {
	width: 200px;

}
.magnifier-loader-text {
    font: 13px Arial;
    margin-top: 10px
}

.magnifier-large {
    position: absolute;
    z-index: 100
}

.magnifier-preview {
    padding: 0;
    width: 100%;
    height: 350px;
    top:-100px;
    left:500px;
    position: relative;
    overflow: hidden
}

.magnifier-preview img {
    position: absolute;
    top: 0;
    left: 0
}

.opaque {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
    display: none
}





/*end*/

@media screen and (max-width: 1000px) {
	
	.total-div {
		width: 70%;
		height: 370px;
	}

	#shipping-info-list {
		font-size: 25px;
	}

	#total-list li {
		font-size: 20px;
		padding-left: 15px;
	}

	#checkout-table > tbody > tr > td {
		font-size: 20px;
	}


	#checkout-table > tbody > tr > td:nth-child(1) {
		color: black;
	}

	#cart-table {
		margin: 0 auto;
		margin-top: 60px;
    	margin-bottom: 50px;
	}
	#checkout-btn {
		width: 80%;
    	height: 100px;
    	font-size: 30px;
	}

	.checkout-nav {
    
    	font-size: 12px;
    }

    .continue-button {
    	width: 80%;
    	height: 100px;
    	font-size: 30px;
	}

	.shipping-input {
	    width: 90%;
	    height: 8%;
	    font-size: 30px;
	    text-align: left;
	    font-family: 'Cinzel', serif;
	    /*font-weight: 500;*/
	    background: #f8f8f8;
	    border: none;
	   	padding: 15px;
		
	}

	.shipping-select {
	    font-family: 'Cinzel', serif;
		    padding: 15px;
	width:93%;
	font-size: 30px;
    padding:20px;
    margin: 0;
    box-shadow: 0 0 0 1px #d9d9d9;
    -webkit-border-radius:0px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

	.col ul {
	    text-align: center;
	    padding-left: 0px;
	
	}


	.mobile-figure-p {
		display: block;
	}

	#collections-show-pictures {
		/*width: 43%;*/
	}

	#bottom-nav li {

	padding-left:10px; 
	padding-right: 10px;
	}

	#bottom-nav a {
		font-size: 14px;
	}

	#below-slideshow-ul {
		height: 310px;
	}
	    
	#below-slideshow-ul img {

		height: 307px;
	}

	.below-slideshow-ul-figure {
	    width: 440px;
		height: 292px;

	}

	#slides {
		height: 480px;
	}

	#slides > div > div > a > img {
		width: 100%;
	}

	body {
			background-color: #FFFFFF;

	}

	#mobile-nav-button {
		text-align: left;
	}

	#top-nav a {
	font-size: 40px;
	}

	#nav-image {
		height: 70px;
	}

	#listings-index-nav li {
		font-size:20px;
		padding-left: 0px;
	}

	#listings-index-nav {
		text-align: center;

	}

	#listings-index-div {
		margin: 110px 0px 110px 0px;
		display: block;
		height:initial;
		width: initial;
		position:static;

	}



	.hidden-nav {
		padding: 0px;
	}

	#listings-outerwear-nav-hidden > li {
		padding:20px 0px 20px 0px;
		font-weight: bold;
	}

	#listings-apparel-nav-hidden > li {
		padding:20px 0px 20px 0px;
		font-weight: bold;
	}

	#listings-accessories-nav-hidden > li {
		padding:20px 0px 20px 0px;
		font-weight: bold;
	}

	#add-to-cart-btn {
		height: 140px;
		font-size: 50px;
		margin-top:50px;

	}

	#listings-details {
		width: 100%;
		font-size: 23px;
		margin-right: 0px;

	}

	#size {
		font-size: 15px;
		padding-left: 40px;
	}

	#listings-show-pictures li > a > img {

	width: 100%;
	/*margin-left: 10px;*/

	}

	#listings-show-pictures > li { /* PICTURES BELOW FIRST IMAGE */

		width: 100%;
	}

	#listings-show-pictures > li:nth-child(4) > a > img {
		width: 100%;
	}

	#listings-show-pictures > li:nth-child(2) > a > img { /* FIRST PICTURE IMG ELEMENT */
		width: 100%;
	}

	#listings-show-pictures li:nth-child(2) {  /* FIRST PICTURE IN LISTINGS SHOW li element */

		width: 100%;
	}


	#collection > tbody > tr > td > ul > li > a > img {
		width: 95%;

	}

	.listings-back-link {
		display: none;
	}

	#listings-show-div {
		margin: 0 auto;
		float: none;
		overflow: visible;
		height: auto;
		width: auto;

	}

	#below-slideshow-ul > li > figure > a > figcaption {
		height: 64%;
		width:461px;
	}

	.listings-figure {
	   height: 691px;
    	width: 464px;	
	}

	.products li {
	
		width: 49%;

	}

	.product-heading-h1 {
    font-size: 31px;
    text-align: left;
}

	table {
		margin-left: 20px;
	}

	#index-form {
		display: none;
	}

	#collection-show-div {
		width: 100%;
		height: initial;
	    overflow: initial;
	    white-space: initial;
	}

	#collection-show-div > ul {
		margin: 0 auto;
		text-align: center;
	}

	#collection-show-div  img {
		width: 100%;
		height: initial;
	}

	.checkout-listing-ul > li {
		width: 30%;
	}

	.checkout-listing-ul > li > p {
		font-size:20px;
	}

	#cart-list a {
		font-size:20px;
	}

	.stripe-button-el span {
		visibility: hidden;
	    width: 560px;
	    height: 210px;
	}


	.stripe-button-el span:after {
	    color: white;
	    background-color: black;
	    background-image: none;
	    border-radius: 0px;
	    padding: 60px 150px 70px 150px;
	    content: 'Pay With Card';
	    visibility: visible;

	    font-size: 39px;
	    right: 6px;
	}

	body > div.wrapper > table > tbody > tr:nth-child(2) > td > form > input[type="image"]:nth-child(14) {
		height: 140px;
	}

	#shipping-info-div {
		background-color: white;
	    height: 608px;
	    width: 42%;
	    margin-top: 0px;
	    float: initial;
	    margin: 0 auto;
	    margin-bottom: 120px;
	}

	#checkout-listing-table {
	   	float: initial;
	    width: 100%;
	    background-color: white;
	    margin-bottom: 40px;
	    margin-top: 0px;
	    margin: 0 auto;
	    overflow: scroll;
	    border-left: 0px;


	}

	/*IMG TD*/
	#checkout-listing-table > tbody > tr > td:nth-child(1) { 
		width: 64%;
    	padding: 10px;

	}
	/*IMG*/
	#checkout-listing-table > tbody > tr > td > a > img {
		width: 100%;
	    padding-left: 0px;
	}

	/*P TAG*/
	#checkout-listing-table > tbody > tr > td > p {
		width: 100%;
    	padding: 0px;
    	font-size: 20px;
	}

	#checkout-div-seperator {
		margin-top:80px;
	}

	#cart-list li {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
	}
	

		.mobile-line-separator {
		display: block;
	}


	.mobile-hr-hidden {
		display: none;
	}

	#my-slider {
		display: block;

	}

	.unslider {
		display: block;
	}

	#listings-show-div {
		display: none;

	}

	#ig-img {
		margin-top: 70px;
	}




}


@media screen and (max-width: 1300px) {
	#listings-show-div {
		width: 500px;
	}

	.products li {
		width: initial;
	}

	.shipping-select {
		/*width: 5%;*/
	}


}


@media screen and (max-width: 1350px) {
	#checkout-listing-table {
		width: 50%;
	}

}


body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert fieldset {
    border: none;
    position: relative; }
  .sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .sweet-alert .sa-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      transition: padding 0.25s, max-height 0.25s; }
    .sweet-alert .sa-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .sweet-alert .sa-error-container p {
      display: inline-block; }
  .sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .sweet-alert .sa-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .sweet-alert .sa-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sweet-alert .sa-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  .sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .sweet-alert input:focus {
      outline: none;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .sweet-alert input:focus::-moz-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus:-ms-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus::-webkit-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .sweet-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .sweet-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .sweet-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
  .sweet-alert.show-input input {
    display: block; }
  .sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative; }
  .sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden; }
  .sweet-alert button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #7ecff4; }
    .sweet-alert button:active {
      background-color: #5dc2f1; }
    .sweet-alert button.cancel {
      background-color: #C1C1C1; }
      .sweet-alert button.cancel:hover {
        background-color: #b9b9b9; }
      .sweet-alert button.cancel:active {
        background-color: #a8a8a8; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button[disabled] {
      opacity: .6;
      cursor: default; }
    .sweet-alert button.confirm[disabled] {
      color: transparent; }
      .sweet-alert button.confirm[disabled] ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
  .sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .sa-icon.sa-error {
      border-color: #F27474; }
      .sweet-alert .sa-icon.sa-error .sa-x-mark {
        position: relative;
        display: block; }
      .sweet-alert .sa-icon.sa-error .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .sa-icon.sa-warning {
      border-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .sa-icon.sa-info {
      border-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    .sweet-alert .sa-icon.sa-success {
      border-color: #A5DC86; }
      .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
        content: '';
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .sa-icon.sa-success::before {
        -webkit-border-radius: 120px 0 0 120px;
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .sa-icon.sa-success::after {
        -webkit-border-radius: 0 120px 120px 0;
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .sa-icon.sa-success .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .sa-icon.sa-success .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .sa-icon.sa-success .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .sa-icon.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%); } }

@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%); } }
/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */

.unslider-nav ol {

  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 4px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid white;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: red;
  cursor: default;
}

body > div.wrapper > div.unslider > nav {
  margin-top:10px;
}
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *






 */


 

