
	<%= javascript_include_tag "application.js" %>

	<h1 class="logo-text-h1">MERCY X MANKIND</h1>
	<h3 class="logo-text-h3">NEW YORK</h3>
	<hr>

	<div id="brand-div">
		<h1>Welcome to Mercy</h1>	

		<!-- <p>Mankind has always had the power of expression  </p> -->
		<p>Mankind has always been obsessed with the concept of Power throughout time.<br><br> From the most primative man, to the modern day being, the greateast power of all in the grasps of Man's  mind has always been the power of expression. </p>

		<p>At MERCY X MANKIND, we create power through pattern, power through textile. Constantly innovating in design and styling, our goal with every piece is to create an experience that comes back to the primative, simple feeling of confidence. </p>
<!-- 		power through pattern
		grace -->

		<img src="assets/test.jpg">

		<h1>POWER THROUGH TEXTILE</h1>

		<p>In today's industry, it seems the concept of "fast and cheap" has prevailed. <br> We've never believed in the idea of sacrificing quality for monetary value. Every piece we produce is met with the highest quality of standards in textile science. Sourcing from mills in Japan, Pakistan and Italy, one thing you can count on is our fabric.</p>

		<img style="width:70%" src="assets/test-2.jpg">


	</div>