
	<%= javascript_include_tag "application.js" %>
<title>Brand | MXMNY</title>


	<div id="brand-div">
		<h3>Obsession.</h3>
		<p>Mercy X Mankind is the ultimate rendition of designer Isaac Saqib. <br>It is the culmination of an inspired mind filled with chaos expressed as textiles and designs. <br>Through exploration of self and life in the depths of the concrete haven that is New York City, Saqib exhibits his supreme expression as a way to connect with other human minds. </p>
		<p>Textiles are sourced internationally, garments are manufactured in New York. </p> 
	</div>