<p class="order-complete-text">Thank you for your order! You should be receieving an email shortly. If you have any questions please email us at: </p>


<a href="mailto:info@mercytomankindco" class="order-complete-text">info@mercytomankindco.com</a>

<br>

<h3>Follow us!</h3>

<a href="http://www.facebook.com/mercytomankindclothing"><%=image_tag 'fb.png', :class => 'icons-complete' %></a>
<a href="http://www.instagram.com/mercytomankind.ny"><%=image_tag 'ig.png', :class => 'icons-complete' %></a>