	<html>
	<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <title>MERCYXMANKINDNEWYORK</title>

	</head>
	<div class="wrapper">
		<body style="background-image: url('assets/back.jpg'); background-size:100%; background-repeat:no-repeat;  ">
	
		<header>
		<ul id="top-nav">
			<li><a href="/cart">CART</a></li>
			<span>
			<li><a href="/checkout">CHECKOUT</a></li>
			<% if logged_in? %>
				<a href="/logout">LOGOUT</a>	
			<% end %>
			</span>

		</ul>

				<p>MERCY X MANKIND</p>
				<p>"MERCY FOR ALL"</p>
				<p>GIVING ALL OF MANKIND THE WANT TO EXPERIENCE GARMENTS MADE WITH THE HEART AND SOUL OF AN ENTITY THAT STRIVES ON INNOVATING AND PRODUCING ATTIRE AT THE HIGHEST PLATFORM OF DESIGN</p>
			</header>

		<ul id="nav">
			<li><a href="/">HOME</a></li>
			<li><a href="/listings">SHOP</a></li>
			<li><a href="#">COLLECTION</a></li>
			<li><a href="#">BLOG</a></li>

		</ul>

		<div class="push"></div>
		</body>

	</div>

		<div class='footer'>
			<ul>
				<li><p>CONTACT</p></li>
				<li><p>CUSTOMER CARE</p></li>
				<span>
				<li><%=image_tag 'fb.png', :class => 'icons' %></li>	
				<li><%=image_tag 'ig.png', :class => 'icons' %></li>	
				<li><%=image_tag 'twitter.png', :class => 'icons' %></li>	

				</span>
			</ul>
	
		</div>


</html>


		