<%= javascript_include_tag "application.js" %>

	<h1 style=" padding-top: 40px;font-family: 'Raleway';letter-spacing: 7px;">MERCY X MANKIND</h1>
	<h3 style="    font-family: 'Raleway';margin-bottom: 50px;padding-right: 25px;">NEW YORK</h3>



	<h5 style=" padding-top: 40px;font-family: 'Raleway';letter-spacing: 7px;">SS 16' CAMPAIGN</h5>

<object controls="0" style="width:820px; height: 461.25px;" data="http://www.youtube.com/embed/fW_L59_O8wg?autohide=1&amp;showinfo=0&amp;controls=0">
</object>

<p> Music: Ghost (Prod. Trooh Hippi) </p>


<br>
<br>

<h5 style=" padding-top: 40px;font-family: 'Raleway';letter-spacing: 7px;">MEETING THE DESIGNER BEHIND MERCY X MANKIND</h5>	
<object controls="0" style="width:820px; height: 461.25px;" data="http://www.youtube.com/embed/lx0l3Dg8sp8?modestbranding=1;autohide=1&amp;showinfo=0&amp;controls=0">
</object>




