<%= javascript_include_tag "application.js" %>
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<title>Media | MXMNY</title>



<iframe class="media-iframe" src="https://player.vimeo.com/video/216327730" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h5 style="font-family: 'Helvetica';letter-spacing: 3px;">PRE-SPRING 17': "GODSEND"</h5>


<br>

<iframe class="media-iframe" src="https://player.vimeo.com/video/192698295" width="740" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h5 style="font-family: 'Helvetica';letter-spacing: 3px;">FALL/WINTER 2016 CAMPAIGN FILM.DELIVERY ONE.</h5>

<br>
<!-- <p> Music: SAVAGE - P.Soul</p> -->

<iframe class="media-iframe" src="https://player.vimeo.com/video/192707456" width="740" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h5 style="font-family: 'Helvetica';letter-spacing: 3px;">SPRING/SUMMER 2016 CAMPAIGN FILM</h5>


<!-- <p> Music: Ghost (Prod. Trooh Hippi) </p> -->
<br>

<iframe class="media-iframe" src="https://player.vimeo.com/video/192706677" width="740" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h5 style="font-family:'Helvetica';letter-spacing: 3px;">MERCY X MANKIND: WHERE DOES YOUR CONFIDENCE COME FROM?</h5>	




