	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<ul id="customer-care">
		<li>
			<h1 class="h1-headers"> SHIPPING AND DELIVERY </h1>
			

			<p>Orders are processed within 24-48 hours of reciept of your order. At the time of shipment, the customer will recieve a confirmation email with tracking for their package by way of USPS(USA only). Domestic deliveries are typically recieved within 3-5 business days from the time of shipment. International orders are typically recieved within 7 to 10 business days and a tracking number is not provided. If the customer wishes to have tracking, he/she must specify this before ordering(subject to additonal fees).
			</p>
		</li>		

		<li>
			<h1 class="h1-headers"> GARMENT CARE </h1>
			<p>
				We recommend dry cleaning only for most of our garments, unless otherwise stated in the description of the product. MERCY X MANKIND NY © cannot be held responsible for any damage caused to the garment/accessorie by way of color fade, wrinkling or destruction. 
			</p>

		</li>

		<li>
			<h1 class="h1-headers"> RETURNS/REFUNDS </h1>
			<p>
				We ensure a life-time return policy as long as the product is in original condition and packagaing. Buyer must pay for return shipping.
			</p>

		</li>

		<li>
			<h1 class="h1-headers"> QUESTIONS/COMMENTS?</h1>
			<p>
				We would love to hear your feedback or concerns. Please refer to the provided links for a quick response.

			</p>

			<p>INSTAGRAM: @mercytomankind.ny</p>
			<p>EMAIL: info@mercytomankindco.com</p>


		</li>



	</ul>

