	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "application.js" %>

<title>Customer Care | MXMNY</title>


<body style="background-image:none;">


	<ul id="customer-care">
		<li>
			<h1 class="h1-headers"> SHIPPING AND DELIVERY </h1>
			

			<p>Orders are processed within 24-48 hours of reciept of your order. At the time of shipment, the customer will recieve a confirmation email with tracking for their package by way of USPS(USA only). Domestic deliveries are typically recieved within 3-5 business days from the time of shipment. International orders are typically recieved within 7 to 10 business days and a tracking number is not provided. If the customer wishes to have tracking, he/she must specify this before ordering(subject to additonal fees).
			</p>
		</li>		

		<li>
			<h1 class="h1-headers"> GARMENT CARE </h1>
			<p>
				We recommend dry cleaning only for most of our garments, unless otherwise stated in the description of the product. MERCY X MANKIND NY © cannot be held responsible for any damage caused to the garment/accessory by way of color fade, wrinkling or destruction. 
			</p>

		</li>

		<li>
			<h1 class="h1-headers"> RETURNS/REFUNDS </h1>
			<p>
				We ensure a 30 day return policy as long as the product is in original condition(no color fade, destruction, etc.). Buyer must email us for a CONFIRMATION NUMBER before returning any product. If the product is recieved and rejected by quality control, product will NOT be returned to buyer address unless shipping is paid for by buyer. 
				<br>
				<br>

				All returns are FREE. If a return is requested, the buyer will be emailed a return shipping label. Upon arrival and complete inspection of returned product, full amount for return shipping cost will be reimbursed to you through original payment method. 
				<br>
				<br>

				Thank you very much. 
			</p>

		</li>

		<li>
			<h1 class="h1-headers"> QUESTIONS/COMMENTS?</h1>
			<p>
				We would love to hear your feedback or concerns. Please refer to the provided links for a quick response.

			</p>

			<p>EMAIL: info@mercyxmankind.com</p>
			<p>INSTAGRAM: @mercytomankind.ny</p>


		</li>



	</ul>

</body>