<body style="background-image:none;">
	

	<h1 class="h1-headers">Thank you for your purchase! <br> You should be recieving an email confirmation soon.<br> <br>If you have any questions regarding your order,<br> you can email us at info@mercytomankindco.com</h1>




</body>