<body style="background-image:none;">
	

	<p class="order-complete-text">Thank you for your purchase! <br> You should be recieving an email confirmation soon.<br> <br>If you have any questions regarding your order,<br> you can email us at info@mercytomankindco.com</p>
			<ul style="text-align:center;">
				
				<a style="margin-right:20px;"href="http://www.facebook.com/mercytomankindclothing"><%=image_tag 'fb.png', :class => 'icons' %></a>
				<a href="http://www.instagram.com/mercytomankind.ny"><%=image_tag 'ig.png', :class => 'icons' %></a>
				<!-- <li><a href="http://www.twitter.com/mercy2mankindco"><%=image_tag 'twitter.png', :class => 'icons' %></a></li>	 -->


			</ul>
	



</body>