html, body {
    height: 100%;
    margin:0px;
}

body {
	/*background-image: url("bluehoodieback-1f8f3530410322174906d0fd2f81131cb529cceea82d6d07fca6246845b4e5a7.jpg");*/
	background-repeat: no-repeat;
	background-size: 100%;
}

#slides {
	/*padding-top: 170px;*/
}




body > div.wrapper > div.wrapper > h1 {
	padding-top: 40px;	
	font-family: 'Raleway';
	letter-spacing: 7px;
}

body > div.wrapper > div.wrapper > h3 {
	font-family: 'Raleway';
	margin-bottom: 50px;
	padding-right: 25px;
	/*letter-spacing: 10px;*/
	/*margin-bottom: 50px;*/
}




/*span {
	float: right;
	margin-right: 10px;	
}*/

#hidden-nav {
	padding-right: 35px;
}

#cart-symbol {
	height: 25px;

}

#nav-image {
	height: 30px;
}

#nav-image-opened {
	height: 30px;

}

#nav-image:hover {
	cursor: pointer;
}

.order-complete-text {
	font-family: 'Copperplate-Light';
	text-align: center;
}



.picture-edit {
	height: 200px;
	width: 200px;
}

#checkout-btn {
	display: block;
	margin: 0 auto;
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-radius: 0px;
    width: 50%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#checkout-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


#customer-care li > p {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}


.h1-headers {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.h1-headers:hover {
	color: #911910;
}



#shipping-table input {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}





#size {
	border: black;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
    width: 100%;
    height: 61px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
}

#shop-sub-nav li a {
	font-size: 14px;

}

#listings-index-nav li {
	/*display: inline-block;*/
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	padding-left: 30px;
	transition:1s;
}

#listings-index-div {
    height: 85%;
    position: fixed;

    width: 8%;
}



#listings-index-nav li:hover {
	cursor: pointer;
	color: red;
}

#listings-index-nav {
	text-align: left;

}

#add-to-cart-btn {
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-radius: 0px;
    width: 100%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
}

#add-to-cart-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 


}

#listings-details > form > p:nth-child(3) {
	font-size: 20px;
	margin-bottom: 0px;

}

#listings-details > form > p:nth-child(5) {

	margin-top: 0px;

}

#listings-details > form > p:nth-child(6) {
	margin-bottom: 0px;
}

#collections-show-pictures > tbody > tr > td > ul {

	padding: 0px;
}

#collections-show-pictures > tbody > tr > td > ul > li > img {
	display: inline-block;

	
}

#collections > tbody > tr > td > ul {
	padding: 0px;
}



#listings-show-pictures > div {
	/*overflow: scroll;*/
}


#listings-show-pictures li > img {

	height: 600;
	width: 802px;
	margin-left: 10px;

}


#listings-show-pictures li > img:nth-child(1) {

	margin-top: 30px;

}


#listings-show-pictures li > img:hover {
	opacity: .8;

}

#listings-show-pictures a:nth-child(1) {
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;


}

#listings-show-pictures a:nth-child(1):hover {
	text-decoration: underline;

}

#listings-show-pictures {

	/*margin: 0 auto;*/
	/*margin-left: 100px;*/
	text-align: center;
}


#listings-details {
	margin: 0 auto;
	width: 40%;
	font-family: 'Raleway', sans-serif;

	/*margin-right: 210px;*/
	/*margin-top: 80px;*/
}


.line-separator{

padding:1px;

background:#E8E8E8;

border-bottom:.5px solid #E8E8E8;

}

ul {
	padding: 0px;
}


table {
  margin:0 auto;
  width: 100%;
}

.col ul {
  text-align: center;

}


.products > tbody > tr > td > ul {
	list-style: none;
	padding-left: 120px;

}

.products li {
	display: inline-block;

	text-align: left;
}

.products li p {
	margin: 0px;
	font-size: 10px;
	text-align: left;
}

.products li a {
	font-size:14px;
	text-decoration: none;
	color: black;
	text-align: left;
	padding-top: 10px;
}

.products li a:hover {
	text-decoration: underline;

}

.products li img {
	height: 500;
	width: 650;
	margin-bottom: 15px;

}

.products li img:hover {
	opacity: .8;

}


.icons {
	height: 18px;;
	width: 18px;
	padding-right: 5px;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */
    text-align: center;

}

.wrapper p {
	font-family: 'Raleway', sans-serif;


}

body > div.wrapper > div.wrapper > p > a {
	color: black;
	text-decoration: none;

}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer li > a {
	text-decoration: none;

}

.footer li > a:hover {
	color: red;
}





/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/



ul {
	padding: 0px;
}

header p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: white;
}
	
header p:nth-child(1) {
	font-size: 40px;
	/*text-decoration: overline;*/
	margin-top: 10px;
	letter-spacing: 25px;
	margin-bottom: 4px;
	text-shadow:10px 30px 10px black;


}

header p:nth-child(2) {
	font-size: 30px;

	letter-spacing: 18px;
	margin-top: 10px;
		text-shadow:10px 30px 10px black;

}

header p:nth-child(3) {
	font-size: 10px;
	margin-left: 150px;
	margin-right:150px;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 30px;
	/*margin-bottom: 150px;*/
}

header a {
	text-align: left;
	color: black;
	text-decoration: bold;
	font-family: 'Raleway', sans-serif;
	margin: 10px;
}

#nav {
	/*margin-top: 70px;*/
	padding: 0px;
	text-align: center;
	/*background-color: rgba(0, 0, 0, .8);*/

}

#nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;


}

#nav a:hover {
	color:white;
	/*font-size: 19px;*/
	

	/*transition:.2s;*/
	cursor: pointer;

}

#nav li  {
	/*display: inline-block;*/
	/*background-color: rgba(0, 0, 0, .8);*/
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 10px 10px 10px black;

	list-style: none;
	/*margin-top: 250px;*/
}

#nav li:hover {
	text-shadow: 18px 22px 1.3px white;
	cursor: pointer;
}

#top-nav {
	background-color:rgba(255, 255, 255, .9);
	text-align:center;
	padding-top:20px;
	padding-bottom:0px;
	margin-bottom: 15px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	border-bottom: 2px solid black;


}

#top-nav a {
	color: black;
	padding: 0px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

#top-nav li {
	padding-bottom: 12px;
}

/*

#top-nav > li:nth-child(1) {
	display: inline-block;
	float: left;

}

#top-nav > li:nth-child(2) {
	display: inline-block;
	float: none;
}


#top-nav > li:nth-child(3) {
	display: inline-block;
	float: right;
}*/

#top-nav a:hover {
	color: red;
	cursor: pointer;
}


#front-page-picture-list {
	text-align: center;
	margin-top:40px;
	padding: 0px;
}

#front-page-picture-list li {
	display: inline-block;
}

#front-page-picture-list img {
	text-align: center;
	 width: 400px;
	 margin: 0 auto;
	 display:block;
}


.footer {
	/*height: 100px;*/
	width:100%;
	background-color: rgba(255, 255, 255, .75);
	margin: 0px;
	/*position: fixed;*/

}

.footer p {
	text-align: left;
	color: black;
	/*padding-left: 40px;*/
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}

.footer p:hover {
	color: red;
}

.footer li {
	display: inline-block;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 10px;
	margin: 0px;
}

.footer li:hover {
	/*background-color: black;*/
}

.footer ul {
	margin:0px;
}

/*.footer li:not(:first-child) {
	font-size: 12px;

}
*/

#cart-table {
	width: 85%;
	height: 130px;
	/*color: blue;*/
	background: transparent;
    border: solid 1px #ebebeb;
 	font-family: 'Raleway', sans-serif;
 	margin-top: 100px;
 	margin-bottom: 100px;
   
}

td {
	text-align: center;
	 	font-family: 'Raleway', sans-serif;

}

th {
 	/*font-family: 'Raleway', sans-serif;*/
 	/*font-weight: 600;*/
 	font-size: 12px;

}



 
#headwear img {
	height: 400px;
	width: 600px;

}

#below-slideshow-ul {


}

#below-slideshow-ul li {
	display: inline-block;
	/*padding: 10px;*/

}

#below-slideshow-ul img {

	height: 300px;
	display: inline-block;
}



#collection > tbody > tr > td > ul > li > a > img {
	width: 400px;
	margin: 0 auto;

}

.product {
	margin: 20px auto;
	text-align: center;
	padding: 20px;
}

