html, body {
    height: 100%;
    margin:0px;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #FCFCFC;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/Helvetica-c993eb9a2b56753cb35f253ebf53bb61e2abd6ef63a509611252ca934f83ab96.dfont');
}

h1 {
	font-family: 'Helvetica';
}

h3 {
	font-family: 'Helvetica';
}

#cart-table > tbody > tr > td > a > img { /* PRODUCT IMAGE SIZE IN CART */
	width: 80%;

}

#cart-table > tbody > tr > td {
	width: 40%;
}

#edit-details-button {
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 40%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

.continue-button {
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 40%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}
.continue-button a {
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	text-decoration: none;
}


.continue-button:hover {
	cursor: pointer;
}

#slides {
	height: 1202px;
	width: 100%;
}

#slides > img {
	width: 100% 
}

#collection-slides {
	height: 800px;
	width: 65%;
	margin: 0 auto;
}

#collection-slides > img {
	width: 65% 
}

.shipping-select {
	width: 50%;
    padding:20px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.shipping-input {
	width: 50%;
	height: 8%;
	font-size: 20px;
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 500;
	background: #f8f8f8;
	border:none;

}

.shipping-input:hover {
	border:2px solid black;
}

.logo-text-h1 {
	padding-top: 40px;	
	font-family: 'Helvetica';
	font-weight: 500;
	letter-spacing: 7px;
}

.logo-text-h3 {
	font-family: 'Helvetica';
	font-weight: 500;
	margin-bottom: 50px;
	padding-right: 25px;
}


#hidden-nav {
	padding-right: 35px;
}

#cart-symbol {
	height: 25px;

}

#nav-image {
	height: 30px;
}

#nav-image-opened {
	height: 30px;

}

#nav-image:hover {
	cursor: pointer;
}

.order-complete-text {
	font-family: 'Helvetica';
	font-weight: 500;
	text-align: center;
}

.picture-edit {
	width: 80%;
}

#checkout-btn {
	display: block;
	margin: 0 auto;
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 50%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#checkout-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none;
}


#customer-care li > p {
	font-size: 12px;
	font-family: 'Helvetica';
	font-weight: 500;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}


.h1-headers {
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 500;
}

.h1-headers:hover {
	color: #911910;
}

#shipping-table input {
	font-size: 20px;
	font-family: 'Helvetica';
	font-weight: 500;
}


#size {
	padding-left: 20px;
	border: black;
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 15px;
    width: 100%;
    height: 61px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

#shop-sub-nav li a {
	font-size: 14px;
}

#listings-index-nav li {
	font-family: 'Helvetica';
	font-weight: 500;
	font-size: 10px;
	padding-left: 30px;
	transition:.1s;
}

#listings-index-div {
    height: 85%;
    /*position: fixed;*/
    width: 8%;
}



#listings-index-nav li:hover {
	cursor: pointer;
	color: red;
}

#listings-index-nav {
	text-align: left;
}

#add-to-cart-btn {
	background-color: black;
	color: white;
	font-family: 'Helvetica';
	font-weight: 500;
	border-radius: 0px;
    width: 100%;
    height: 40px;
   -webkit-appearance: none;
   -moz-appearance: none;
   	appearance: none; 
}

#add-to-cart-btn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
   	appearance: none; 
}

#listings-details > form > p:nth-child(3) {
	font-size: 20px;
	margin-bottom: 0px;

}

#listings-details > form > p:nth-child(5) {
	margin-top: 0px;
}

#listings-details > form > p:nth-child(6) {
	margin-bottom: 0px;
}

#collection > tbody > tr > td > ul > li > a > img {
    width: 40%;
}

#collection > tbody > tr > td > ul {
	padding:0px;
	list-style: none;
}

#collection > tbody > tr > td > ul > li {
	width: 100%;
}

#collections-show-pictures > tbody > tr > td > ul {
	list-style: none;
	padding: 0px;

}

#collections-show-pictures > tbody > tr > td > ul > li > img {
	display: inline-block;
	width: 100%;	
}



#listings-show-pictures {
	margin: 0 auto;
	display: block;
	text-align: center;
}


#listings-show-pictures li > a > img {
	width: 100%;
}

#listings-show-pictures li > a > img:hover {
	cursor: pointer;

}

#listings-show-pictures > li { /* PICTURES BELOW FIRST IMAGE */
	display: inline-block;
	width: 40%;
}

#listings-show-pictures > li:nth-child(4) > a > img {
	width: 95%;
}

#listings-show-pictures > li:nth-child(2) > a > img { /* FIRST PICTURE IMG ELEMENT */
	width: 55%;
}

#listings-show-pictures li:nth-child(2) {  /* FIRST PICTURE IN LISTINGS SHOW li element */
	display: block;
	width: 85%;
	text-align: center;
	margin: 0 auto;
}


#listings-show-pictures a:nth-child(1) {
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Helvetica';
	font-weight: 500;


}

#listings-show-pictures a:nth-child(1):hover {
	text-decoration: underline;

}

#listings-details {
	margin: 0 auto;
	width: 40%;
	font-family: 'Helvetica';
	font-weight: 500;

}


.line-separator{
	padding:1px;
	background:#E8E8E8;
	border-bottom:.5px solid #E8E8E8;
}

ul {
	padding: 0px;
}


table {
  margin:0 auto;
  width: 100%;
}

.col ul {
  text-align: center;

}


.products > tbody > tr > td > ul {
	list-style: none;

}

.products li {
	display: inline-block;
	width: 30%;
}

.products li p {
	margin: 0px;
	font-size: 10px;
}

.products li a {
	font-size:14px;
	text-decoration: none;
	color: black;
	text-align: left;
	padding-top: 10px;
}

.products li a:hover {
	text-decoration: underline;

}

.products li img {
	
	width: 100%;
	margin-bottom: 15px;

}

.products li img:hover {
	opacity: .9;
}


.icons {
	height: 18px;;
	width: 18px;
	padding-right: 5px;

}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */
    text-align: center;

}

.wrapper p {
	font-family: 'Helvetica';
	font-weight: 500;


}

body > div.wrapper > div.wrapper > p > a {
	color: black;
	text-decoration: none;

}

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer li > a {
	text-decoration: none;

}

.footer li > a:hover {
	color: red;
}





/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/



ul {
	padding: 0px;
}

header p {
	text-align: center;
	font-family: 'Helvetica';
	font-weight: 500;
	color: white;
}
	
header p:nth-child(1) {
	font-size: 40px;
	/*text-decoration: overline;*/
	margin-top: 10px;
	letter-spacing: 25px;
	margin-bottom: 4px;
	text-shadow:10px 30px 10px black;


}

header p:nth-child(2) {
	font-size: 30px;

	letter-spacing: 18px;
	margin-top: 10px;
		text-shadow:10px 30px 10px black;

}

header p:nth-child(3) {
	font-size: 10px;
	margin-left: 150px;
	margin-right:150px;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 30px;
	/*margin-bottom: 150px;*/
}

header a {
	text-align: left;
	color: black;
	text-decoration: bold;
	font-family: 'Helvetica';
	font-weight: 500;
	margin: 10px;
}

#nav {
	/*margin-top: 70px;*/
	padding: 0px;
	text-align: center;
	/*background-color: rgba(0, 0, 0, .8);*/

}

#nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;


}

#nav a:hover {
	color:white;
	/*font-size: 19px;*/
	

	/*transition:.2s;*/
	cursor: pointer;

}

#nav li  {
	/*display: inline-block;*/
	/*background-color: rgba(0, 0, 0, .8);*/
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Helvetica';
	font-weight: 500;
	text-shadow: 10px 10px 10px black;

	list-style: none;
	/*margin-top: 250px;*/
}

#nav li:hover {
	text-shadow: 18px 22px 1.3px white;
	cursor: pointer;
}

#top-nav {
	list-style: none;
	background-color:rgba(255, 255, 255, .9);
	text-align:center;
	padding-top:20px;
	padding-bottom:0px;
	margin-bottom: 15px;
	font-size: 15px;
	font-family: 'Helvetica';
	font-weight: 500;
	/*border-bottom: 2px solid black;*/


}

#top-nav a {
	color: black;
	padding: 0px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: 500;
}

#top-nav li {
	padding-bottom: 12px;
}

#bottom-nav {
	margin-top:100px;
	padding-bottom: 100px;
}

#bottom-nav a {
	color: black;
	padding: 0px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: 500;

}

#bottom-nav a:hover {
	color: gray;
}

#bottom-nav li {
	display: inline-block;
	padding-left:40px; 
	padding-right: 40px;

}

/*

#top-nav > li:nth-child(1) {
	display: inline-block;
	float: left;

}

#top-nav > li:nth-child(2) {
	display: inline-block;
	float: none;
}


#top-nav > li:nth-child(3) {
	display: inline-block;
	float: right;
}*/

#top-nav a:hover {
	color: red;
	cursor: pointer;
}


#front-page-picture-list {
	text-align: center;
	margin-top:40px;
	padding: 0px;
}

#front-page-picture-list li {
	display: inline-block;
}

#front-page-picture-list img {
	text-align: center;
	 width: 400px;
	 margin: 0 auto;
	 display:block;
}


.footer {
	/*height: 100px;*/
	width:100%;
	background-color: rgba(255, 255, 255, .75);
	margin: 0px;
	/*position: fixed;*/

}

.footer p {
	text-align: left;
	color: black;
	/*padding-left: 40px;*/
	font-family: 'Helvetica';
	font-weight: 500;
	margin: 0px;
}

.footer p:hover {
	color: red;
}

.footer li {
	display: inline-block;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 10px;
	margin: 0px;
}

.footer li:hover {
	/*background-color: black;*/
}

.footer ul {
	margin:0px;
}

/*.footer li:not(:first-child) {
	font-size: 12px;

}
*/

#cart-table {
	width: 85%;
    height: 240px;
    /* color: blue; */
    background: transparent;
    border: solid 1px #ebebeb;
    font-family: 'Helvetica';
	font-weight: 500;
    margin-top: 100px;
    margin-bottom: 50px;
   
}

td {
	text-align: center;
	 	font-family: 'Helvetica';
	font-weight: 500;

}

th {
 	/*font-family: 'Helvetica';
	font-weight: 500;*/
 	/*font-weight: 600;*/
 	font-size: 12px;

}



 

#below-slideshow-ul {
margin-bottom: 50px

}

#below-slideshow-ul li {
	display: inline-block;
	/*padding: 10px;*/

}

#below-slideshow-ul img {

	height: 400px;
	display: inline-block;
}





.product {
	margin: 20px auto;
	text-align: center;
	padding: 20px;
}


/*Magnifier */


.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0
}

.magnifier-lens {
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 200;
    right: 600;
    overflow: hidden;
    display:none;
}

.magnifier-loader {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    background: transparent;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

.magnifier-loader-text {
    font: 13px Arial;
    margin-top: 10px
}

.magnifier-large {
    position: absolute;
    z-index: 100
}

.magnifier-preview {
    padding: 0;
    width: 100%;
    height: 350px;
    top:-100px;
    left:500px;
    position: relative;
    overflow: hidden
}

.magnifier-preview img {
    position: absolute;
    top: 0;
    left: 0
}

.opaque {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
    display: none
}





/*end*/

@media screen and (max-width: 1360px) {

	#collections-show-pictures {
		/*width: 43%;*/
	}

	#bottom-nav li {

	padding-left:10px; 
	padding-right: 10px;
	}

	#bottom-nav a {
		font-size: 14px;
	}
	    
	#below-slideshow-ul img {

		height: 330px;
    	padding: 20px;


	}

	#slides {
		height: 690px;
	}

	body {
			background-color: #FFFFFF;

	}

	#mobile-nav-button {
		text-align: left;
	}

	#top-nav a {
	font-size: 40px;
	}

	#nav-image {
		height: 70px;
	}

	#listings-index-nav li {
		font-size:15px;
	}

		#add-to-cart-btn {
		height: 140px;
		font-size: 50px;

	}

	#listings-details {
		width: 100%;
		font-size: 43px;
	}

	#size {
		font-size: 45px;
		padding-left: 40px;
	}

	#listings-show-pictures li > a > img {

	width: 100%;
	/*margin-left: 10px;*/

	}

	#listings-show-pictures > li { /* PICTURES BELOW FIRST IMAGE */

		width: 100%;
	}

	#listings-show-pictures > li:nth-child(4) > a > img {
		width: 100%;
	}

	#listings-show-pictures > li:nth-child(2) > a > img { /* FIRST PICTURE IMG ELEMENT */
		width: 100%;
	}

	#listings-show-pictures li:nth-child(2) {  /* FIRST PICTURE IN LISTINGS SHOW li element */

		width: 100%;
	}

	.products li {
	
	width: 45%;

	}

	#collection > tbody > tr > td > ul > li > a > img {
		width: 95%;

	}




}



