* {
    margin: 0;
}

.icons {
	height: 18px;;
	width: 18px;

}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -52px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 52px; /* .push must be the same height as .footer */
}

span {
	float: right;
	margin-right: 10px;	

}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/


body {
	margin: 0px;


}

ul {
	padding: 0px;
}

header p {
	text-align: center;
	font-family: 'AdelleSans-Thin';
	color: white;
}
	
header p:nth-child(2) {
	font-size: 40px;
	text-decoration: overline;
	margin-top: 120px;
	letter-spacing: 25px;

}

header p:nth-child(3) {
	font-size: 15px;
	letter-spacing: 18px;
	margin-bottom: 36px;
}

header p:nth-child(4) {
	font-size: 10px;
	margin-left: 150px;
	margin-right:150px;
	letter-spacing: 5px;
	word-spacing: 3px;
	line-height: 30px;
}

header a {
	text-align: left;
	color: black;
	text-decoration: bold;
	font-family: 'AdelleSans-Thin';
	margin: 10px;
}

#nav {
	margin-top: 70px;
	padding: 0px;
	text-align: center;

}

#nav a {
	text-decoration: none;
	color: white;
	font-size: 25px;

}

#nav a:hover {
	color:red;
	/*font-size: 19px;*/
	

	/*transition:.2s;*/
	cursor: pointer;

}

#nav li  {
	/*display: inline-block;*/
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'AdelleSans-Thin';
	color: white;
	list-style: none;
}

#nav li:hover {
	text-shadow: 18px 22px 1.3px white;
	cursor: pointer;
}

#top-nav {
	background-color: black;
	padding: 10px;
	margin: 0px;
	text-align: center;

}

#top-nav a {
	color: white;
	padding: 0px;
	text-decoration: none;
}

#top-nav li {
	display: inline-block;
	float: left;
}

#top-nav a:hover {
	color: red;
}


#front-page-picture-list {
	text-align: center;
	margin-top:40px;
	padding: 0px;
}

#front-page-picture-list li {
	display: inline-block;
}

#front-page-picture-list img {
	text-align: center;
	 width: 400px;
	 margin: 0 auto;
	 display:block;
}


.footer {
	/*height: 100px;*/
	width:100%;
	background-color: black;
	margin: 0px;
	/*position: fixed;*/

}

.footer p {
	text-align: left;
	color: white;
	/*padding-left: 40px;*/
	font-family: 'AdelleSans-Thin';
	margin: 0px;
}


.footer li {
	display: inline-block;
	font-size: 15px;
	padding-top: 20px;
	padding-left: 10px;
	margin: 0px;
}

/*.footer li:not(:first-child) {
	font-size: 12px;

}
*/

#cart-table {
	width: 100%;
	height: 130px;
	/*color: blue;*/
	background: transparent;
    border: solid 1px #ebebeb;
 	font-family: 'AdelleSans-Thin';
 	margin-top: 100px;
 	margin-bottom: 100px;
   
}

td {
	text-align: center;
	 	font-family: 'AdelleSans-Thin';

}

th {
 	/*font-family: 'AdelleSans-Thin';*/
 	font-weight: 600;

}

/*slideshow code*/
.slideshow-pic{
	width: 100%;
}

 
.css-slideshow{
   /*position: relative;*/
   width: 100%;
   /*margin-bottom: 690px;*/
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
   width: 100%;
}
/*.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}*/
/*.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}*/
.css-slideshow figure{
   opacity:0;
}


figure:nth-child(1) {
   -webkit-animation: xfade 10s 1s infinite;
}

figure:nth-child(2) {
   -webkit-animation: xfade 10s 3s infinite;
}



 
@-webkit-keyframes xfade{
   0%{
      opacity: 1;
   }
   25% {
      opacity:1;
   }
   50%{
      opacity: 0;
   }
   75% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}
 
