<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
		<!-- Hotjar Tracking Code for www.mercyxmankind.com -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:651249,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
	<meta name="description" content='MERCY X MANKIND NEW YORK | Contemporary Urbanwear For The Modern Being | PRE-SPRING 2017: "GODSEND" | AVAILABLE NOW.'/>
	<meta property="og:title" content="MERCY X MANKIND NEW YORK" />
	<meta property="og:image" content="assets/pre-spring-1-e8baac22a038413ca91417872e2fa8ff4eea687051ff20da8e1d181786fe33dd.jpg" />

<!-- 
	<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"5194035157454408880655014","lid":"3460c40b66"}) })</script> -->

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.ico' %>

	<!-- <title>MERCY X MANKIND NY</title> -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98203552-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/collections/all">ALL</a>
		<a href="/listings-jackets">JACKETS</a>
		<a href="/listings-tops">TOPS</a>
		<a href="/listings-hoodies">HOODIES</a>
		<a href="/listings-long_sleeves">LONG SLEEVES</a>
		<a href="/listings-short_sleeves">SHORT SLEEVES</a>
		<a href="/listings-tees">T-SHIRTS</a>
		<a href="/listings-bottoms">BOTTOMS</a>
		<a href="/listings-denim">DENIM</a>
		<a href="/listings-trousers">TROUSERS</a>
		<a href="/listings-shorts">SHORTS</a>
		<a href="/listings-head">HEADWEAR</a>
		<a href="/listings-accessories">BAGS</a>
  
  <hr>

  <a href="/brand">BRAND</a>	
  <a href="/media">MEDIA</a>
  <a href="/collections">COLLECTIONS</a>
  <a href="/collections/273"><b>"INFINITY BAG"</b></a>
  <a href="/customercare">CUSTOMER CARE</a>


</div>

<!-- Use any element to open the sidenav -->
<ul id="page_header">
	<li><span style="" onclick="openNav()"><img src="/assets/icon.png"></span></li>
	<li><a style="text-decoration: none;color: black;" href="/"><h1 class="logo-text-h1">MERCY X MANKIND</h1><h3 class="logo-text-h3">NEW YORK</h3></a></li>
	<li><a href="/cart"><img src="/assets/shopping-bag.png"></a></li>
	<li>
		<ul id="store-nav">
				<li>SHOP +</li>
					<div id="shop-div" class="store-nav-hidden-div">
						<ul class="submenu" id="submenu-1">
							<li><p><a href="/collections/all">ALL</p></a></li>
							<li><p><a href="/listings-tops">TOPS</p></a></li>
							<li><p><a href="/listings-bottoms">BOTTOMS</p></a></li>
							<li><p><a href="/listings">OUTERWEAR</p></a></li>
						</ul>
					<div class="vl"></div>

						<ul class="submenu" id="submenu-2">
							<li><p><a href="/listings-jackets">JACKETS</p></a></li>
							<li><p><a href="/listings-hoodies">HOODIES</p></a></li>
							<li><p><a href="/listings-long_sleeves">LONG SLEEVES</p></a></li>
							<li><p><a href="/listings-short_sleeves">SHORT SLEEVES</p></a></li>
							<li><p><a href="/listings-tees">T-SHIRTS</p></a></li>
							<li><p><a href="/listings-denim">DENIM</p></a></li>
						</ul>
						<ul class="submenu" id="submenu-3">
							<li><p><a href="/listings-trousers">TROUSERS</p></a></li>
							<li><p><a href="/listings-shorts">SHORTS</p></a></li>
							<li><p><a href="/listings-head">HEADWEAR</p></a></li>
							<li><p><a href="/listings-accessories">BAGS</p></a></li>
						</ul>

						<ul class="submenu" id="submenu-4">
							<li>
								<a style="text-decoration: none;color: black;" href="/collections/269">
									<img style="height: 170px" src="/assets/nav-image.jpg">
									<p style="font-family:'Helvetica';font-weight:bold;float:right;padding-left:10px;"><em>VIEW</em><br><br> "THE DEPTHS" LOOKBOOK</p>
								</a>
							</li>
						</ul>
					</div>
				<li><p><a href="/brand">BRAND</a></p></li>
				<li><a style="color: black;text-decoration: none;" href="/collections">COLLECTIONS</a></li>
				<li><p><a href="/media">MEDIA</a></p></li>
				<li><p><a href="/customercare">CONTACT</a></p></li>
		</ul>
	</li>
	<!-- <li style="padding:0px;" class="page_header-right-align"><p id="free-shipping-text">FREE SHIPPING + FREE RETURNS</p></li> -->
	<li style="padding:0px 5px;" class="page_header-right-align" ><a id="social-text" style="text-decoration:none;color:black;" href="http://www.instagram.com/mercytomankind.ny">SOCIAL</a></li>
	<li style="padding:0px 5px;" class="page_header-right-align"><a style="text-decoration:none;color:black;" href="/cart">CART</a></li>
</ul>



<div id="main">
	<body>
		
<!-- 		<div id="free-shipping-div">
			<p id="free-shipping-x" style="float:left;padding-left:5px;">X</p>
			<p>
				Free Shipping + Free Returns On All Purchases (U.S)
			</p>
		</div>
 -->
<!-- 
		<ul id="top-nav">
			<li><a><%=image_tag 'nav-image.png', :id => "nav-image" %></a></li>
				
				<ul id="hidden-nav">
					<li><a href="/index">HOME</a></li>
					<li><a href="/listings">SHOP <span id="plus-symbol">+</span></a></li>

							<ul id="mobile-store-list">
								<li><p><a href="/listings">-ALL</a></p></li>
								<li><p><a href="/listings-jackets">-OUTERWEAR</a></p></li>
								<li><p><a href="/listings-tops">-TOPS</a></p></li>
								<li><p><a href="/listings-bottoms">-BOTTOMS</a></p></li>
								<li><p><a href="/listings-head">-HEADWEAR</a></p></li>
								<li><p><a href="/listings-sale" style="color:red;">-SALE</a></p></li>
							</ul>

					<li><a href="/collections">LOOKBOOKS</a></li>	
					<li><a href="/media">MEDIA</a></li>
					<li><a href="/press">PRESS</a></li>
					<li><a href="/brand">BRAND</a></li>
					<li><a href="/cart">CART</a></li>
				</ul>
			

		
		</ul> -->



	<%= yield %>






			<div id="bottom-nav-div">
				<ul id="bottom-nav">


					<li><a href="/collections">COLLECTIONS</a></li>
					<li><a href="http://www.instagram.com/mercytomankind.ny">INSTAGRAM</a></li>
					<li><a href="http://www.facebook.com/mercytomankindclothing">FACEBOOK</a></li>
					<li><a href="/media">MEDIA</a></li>
					<li><a href="/customercare">CONTACT</a></li>
					<li><a href="/cart">CART</a></li>

				</ul>
			</div>

			<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

	
<script>
/* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "800px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>


<!--End mc_embed_signup-->

			<p style="text-align:center;padding-bottom: 40px;font-size: 8px;">MERCY X MANKIND NEW YORK ©. ALL RIGHTS RESERVED. EST 2014</p>
	</body>
</div>




</html>
