	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">


<div id="error-div">
	
	
			<h1 class="logo-text-h1">MERCY X MANKIND</h1>
			<h3 style="margin-bottom:20px;" class="logo-text-h3">NEW YORK</h3>
			<p>Oops! It seems like something went wrong!</p>
			<div style="margin-top:20px;" class="line-separator"></div>

			<h2 style="font-family: 'Cinzel';font-weight: 400;text-decoration: underline;">COMMON ERRORS</h1>
			<p>Did you fill out all fields completely and accurately?</p>
			<p>Did you enter a valid card number, name, exp and cvc code?</p>
			<p>Did you navigate to an unlisted page?</p>

			<div style="margin-top:20px;margin-bottom: 20px;" class="line-separator"></div>

			<p>Solution not listed above?</p>
			<p>We're sorry for the inconveniece, email us <a style="color: black;" href="mailto:info@mercytomankindco.com">here</a></p>
			<p>Or text us <a style="color: black;" href="tel:6314185857">here</a> for a quick response!</p>



</div>